@import fonts
@import colors
@import top-bar


*
  box-sizing: border-box

  &::before,
  &::after
    box-sizing: border-box

h1,
h2,
h3,
h4,
h5,
h6
  font-family: 'PierSans', sans-serif
  font-weight: bold
  text-transform: uppercase
  text-align: center
  margin: 0

h1,
h2
  font-size: calc(3vw + 20px)

  &.huge
    font-size: 20vw
    letter-spacing: .25em
    padding-left: .25em

h3
  font-size: calc(2.5vw + 10px)

a
  color: inherit

  &:visited
    color: inherit


body
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif

  margin: 0

.background
  position: fixed
  width: 100vw
  height: 100vh
  z-index: 0
  background-color: $black

  div
    height: 100vh
    background-image: url('images/1.png')
    background-size: cover
    background-position: center
    opacity: .8
    filter: blur(2px)

header
  position: fixed
  left: 0
  top: 0
  width: 100vw
  height: 100vh

  color: $light-text-primary

  h1
    position: absolute
    top: 50%
    left: 0
    width: 100%
    transform: translateY(-50%)

  a
    position: absolute
    bottom: 20%
    left: 50%
    // Used over translateX to force hardware-accelerated rendering and prevent
       rendering bugs when scaling
    transform: translate3d(-50%, 0, 0)
    display: block
    text-align: center

    font-family: 'Montserrat', sans-serif
    font-weight: 700
    letter-spacing: .05em
    text-transform: uppercase
    text-decoration: none

    color: $light-text-primary
    background-color: $red

    padding: .5em 1em

    transition: transform .25s

    &:hover
      transform: translate3d(-50%, 0, 0) scale(1.1)

.main-content
  position: absolute
  top: 0
  left: 0
  width: 100vw

  z-index: 1

  padding-top: 100vh
  overflow: scroll

  color: $dark-text-primary

  section
    background-color: $white

    &.space
      height: calc(90vh - 90px)
      background-color: transparent


footer
  img
    width: 100vw
    height: auto
