@import fonts
@import colors
@import top-bar
@import modal


*
  box-sizing: border-box

  &::before,
  &::after
    box-sizing: border-box

h1,
h2,
h3,
h4,
h5,
h6
  font-family: 'PierSans', sans-serif
  font-weight: bold
  text-transform: uppercase
  text-align: center
  margin: 0
  letter-spacing: .05em

h1,
h2
  font-size: calc(3vw + 20px)

  &.huge
    font-size: 20vw
    letter-spacing: .25em
    padding-left: .25em

h3
  font-size: calc(2.5vw + 10px)

h4
  font-size: calc(1vw + 10px)

@media screen and (orientation: portrait) and (max-width: 700px)
  h3
    font-size: calc(3vw + 20px)

  h4
    font-size: calc(2.5vw + 10px)

a
  color: inherit

  &:visited
    color: inherit


body
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif

  margin: 0

  &.modal-open
    .main-content
      opacity: .1


.background
  position: fixed
  width: 100vw
  height: 100vh
  background-color: $black

  div
    position: fixed
    width: 100vw
    height: 100vh
    background-size: cover
    background-position: center
    filter: blur(2px) brightness(.8)
    transition: 1s opacity

    &:first-child
      z-index: 1

    &:last-child
      z-index: 0

header
  position: fixed
  left: 0
  top: 0
  width: 100vw
  height: 100vh

  color: $light-text-primary

  h1
    position: absolute
    top: 50%
    left: 0
    width: 100%
    transform: translateY(-50%)

  button
    position: absolute
    // Based on vertical center plus font size of header, allowing for some margin
    top: calc(51.5vh + 5vw + 30px)
    left: 50%
    // Used over translateX to force hardware-accelerated rendering and prevent
       rendering bugs when scaling
    transform: translate3d(-50%, 0, 0)
    display: block
    text-align: center

    border: 0
    outline: none
    border-radius: 0
    cursor: pointer

    font-size: calc(10px + .5vw)
    font-family: 'Montserrat', sans-serif
    font-weight: 700
    letter-spacing: .05em
    text-transform: uppercase
    text-decoration: none

    color: $light-text-primary
    background-color: $red

    padding: .5em 1em

    transition: transform .25s, opacity .25s


    &:hover
      transform: translate3d(-50%, 0, 0) scale(1.1)

    &:active
      transform: translate3d(-50%, 0, 0) scale(1.05)

    &:disabled
      cursor: default
      background-color: $blue

      &:hover
        transform: translate3d(-50%, 0, 0)

      &::after
        padding-left: .5em
        font-family: Ionicons
        content: '\f122'

.main-content
  position: absolute
  top: 0
  left: 0
  width: 100vw

  z-index: 2

  padding-top: 100vh
  overflow: scroll

  color: $dark-text-primary

  transition: .5s opacity

  section
    background-color: $white

    &.space
      height: calc(90vh - 90px)
      background-color: transparent
